body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 50px;
}
h2{
  font-size: 30px;
}
div{
  text-align: center;
}
li{
  font-size: 20px;
}
ol {
  text-align: center;
  list-style-position: inside;
}
.container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items:center;
  gap: 2rem;

  
  width: 420px;

  height: 500px;
  perspective: 100%;
  max-width: 720px;
  justify-items: center;
  align-items: stretch;
  margin:auto;

}

img{
  max-width: 100%;
  max-height: 100%;
  margin:auto;
}

.tile{
  max-height: 100%;
  margin:auto;
  position:relative
}

.tile .front{
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front{
  transform: rotateY(0deg);
}

